<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件配置，namespace指向接口-->
<mapper namespace="com.example.mybatisanddruid.mapper.TagsCategoryMapper">
    <select id="findObjectById" parameterType="Integer" resultType="Map">
        select * from tags_category where tag_category_id = #{value}
    </select>
</mapper>